body, html {
  
}
h1 {
  text-align: center;
  color: black;
}

/* this is a comment */
h2,
p {
  text-align: center;
  color: brown;
}

#par1 {
  text-align: center;
  color: red;
  font-style: italic;
}

.right {
  text-align: center;
  color: rgb(0, 255, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bgImage{
  height: 30%;
  width: 50%;
}

footer {
  background-color: black;
}
