h1 {
text-align: center;
color:black;
}
h2, p {
    text-align:center;
    color: brown;
}
#par1 {
    text-align: center;
    color: red;
    font-style: italic;
}
.right {
    text-align: center;
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}